# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data files (optional)
data/raw_*.csv
data/*.zip

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
